<html>
    <body>
        <div class = "login">
            <h1>Student exam performance Indicator</h1>
            <form action="{{ url_for('predict_datapoint') }}" method="post">

                <h1>
                    <legend>Student Exam Performace Prediction</legend>
                </h1>

                <div class="mb-3">
                    <label class="form-label">Gender</label>
                    <select class="form-select" name="gender" placeholder="Enter your Gender" required>
                        <option class="Placeholder" selected disabled value ="">select your Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Race or Ethnicity</label>
                    <select class="form-control" name="race_ethnicity" placeholder="Enter your Race or Ethnicity" required>
                        <option class="Placeholder" selected disabled value ="">select your Race or Ethnicity</option>
                        <option value="group A">Group A</option>
                        <option value="group B">Group B</option>
                        <option value="group C">Group C</option>
                        <option value="group D">Group D</option>
                        <option value="group E">Group E</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Parental Level of Education</label>
                    <select class="form-control" name="parental_level_of_education" placeholder="Enter your Parental Level of Education" required>
                        <option class="Placeholder" selected disabled value ="">select your Parental Level of Education</option>
                        <option value="bachelor's degree">Bachelor's Degree</option>
                        <option value="some college">Some College</option>
                        <option value="master's degree">Master's Degree</option>
                        <option value="associate's degree">Associate's Degree</option>
                        <option value="high school">High School</option>
                    </select>
                </div>  
                <div class="mb-3">
                    <label class="form-label">Lunch</label>
                    <select class="form-control" name="lunch" placeholder="Enter your Lunch"    required>
                        <option class="Placeholder" selected disabled value ="">select your Lunch</option>
                        <option value="standard">Standard</option>
                        <option value="free/reduced">Free/Reduced</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Test Preparation Course</label>
                    <select class="form-control" name="test_preparation_course" placeholder="Enter your Test Preparation Course" required>
                        <option class="Placeholder" selected disabled value ="">select your Test Preparation Course</option>
                        <option value="none">None</option>
                        <option value="completed">Completed</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Writing Score</label>
                    <input type="number" class="form-control" name="writing_score" placeholder="Enter your Writing Score" required>
                </div>         
                <div class="mb-3">
                    <label class="form-label">Reading Score</label>
                    <input type="number" class="form-control" name="reading_score" placeholder="Enter your Reading Score" required>
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-primary" value="predict your maths score">  
                </div>               
            </form>
            <h2>Predicted Math Score: {{ results }}</h2>
        </div>
    </body>
</html>